@font-face {
  font-family: "IBMPlexSans-Regular";
  src: url("/fonts/IBMPlexSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBMPlexSans-Semibold";
  src: url("/fonts/IBMPlexSans-SemiBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  margin: 0;
  padding: 0;
  font-family: "IBMPlexSans-Regular", Arial, sans-serif;
}

#root > * {
  height: 100%;
}

h1 {
  font-family: "IBMPlexSans-Semibold", Arial, sans-serif;
  margin: 0;
  font-size: 2.4rem;
}

h1.mobile-message-title {
  font-size: 1.8rem;
}

p {
  font-size: 0.9rem;
}

.grab-hint-container,
.drop-hint-container,
.show-info-hint-container,
.hide-info-hint-container {
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  width: 96px;
  height: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  opacity: 0;
  z-index: 1000;
}

.hint-text {
  width: 60%;
  color: white;
  text-align: center;
  font-family: "IBMPlexSans-Semibold", Arial, sans-serif;
  font-size: 16px;
}

.info-content {
  background: white;
  max-width: 70vw;
  max-height: 60vh;
  padding: 40px;
  box-sizing: border-box;
}

.mobile-message-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile-message {
  background: white;
  max-width: 80vw;
  max-height: 80vh;
  padding: 40px;
  box-sizing: border-box;
}

#grabbed-artwork-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
}

#grabbed-image {
  max-width: 50vw;
  max-height: 60vh;
  object-fit: contain;
}

#info-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  z-index: 998;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
}
