@font-face {
  font-family: "IBMPlexSans-Regular";
  src: url("./fonts/IBMPlexSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBMPlexSans-Semibold";
  src: url("./fonts/IBMPlexSans-SemiBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  margin: 0;
  padding: 0;
  font-family: "IBMPlexSans-Regular", Arial, sans-serif;
}

h1 {
  font-family: "IBMPlexSans-Semibold", Arial, sans-serif;
  margin: 0;
  font-size: 2.4rem;
}

.grab-hint-container,
.drop-hint-container,
.show-info-hint-container,
.hide-info-hint-container {
  position: absolute;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
  width: 120px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  color: white;
  font-size: 20px;
  font-weight: 400;
  opacity: 0;
  z-index: 1000;
}

.hint-text {
  width: 60%;
  text-align: center;
  font-family: "IBMPlexSans-Semibold", Arial, sans-serif;
}

.info-content {
  aspect-ratio: 210 / 297;
  background: white;
  max-width: 50vw;
  max-height: 60vh;
  padding: 64px 40px;
  box-sizing: border-box;
}

#grabbed-artwork-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
}

#grabbed-image {
  max-width: 50vw;
  max-height: 60vh;
  object-fit: contain;
}

#info-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  z-index: 998;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
}
